@media (min-width: 650px) {
    .dark .ce-toolbar__plus path,
    .dark .ce-toolbar__settings-btn path {
        color: #f3f3f3;
    }

    .dark .ce-toolbar__settings-btn:hover path,
    .dark .ce-toolbar__plus:hover path {
        color: #242424;
    }
}

.dark .ce-popover-item {
    color: #f3f3f3;
}

.dark .cdx-block span {
    background-color: #414141 !important;
}

.tooltip-tool__input,
.ce-inline-tool-input {
    color: #000;
    background: #fff;
}

.dark .ce-block.ce-block--selected .cdx-block,
.dark .ce-block.ce-block--selected .ce-block__content,
.dark .tc-cell.tc-cell--selected,
.dark .tc-row.tc-row--selected,
.dark .tooltip-tool__input {
    background: #2a2a2a;
    color: #e0e0e0;
}

.dark .ce-inline-toolbar {
    background: #242424;
    border: 2px solid #2a2a2a;
}

.dark .cdx-marker {
    color: #000;
    background: #fff;
}

.dark .ce-inline-tool-input,
.dark .ce-conversion-tool__icon,
.dark .ce-popover-item__icon,
.dark .ce-popover,
.dark .cdx-search-field,
.dark .cdx-button,
.dark .image-tool__image,
.dark .tc-popover,
.dark .tc-popover__item-icon,
.dark .ce-conversion-toolbar {
    /* color: #fff; */
    background: #242424;
    border-color: #2a2a2a;
}

.dark .cdx-input {
    border-color: #5e5e5e;
}

.dark .ce-inline-tool:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-popover-item:hover,
.dark .ce-conversion-tool:hover {
    background: #3c3c3c;
}

.cdx-tooltip {
    position: relative;
    cursor: pointer;
}

.cdx-tooltip::before {
    content: '';
    position: absolute;
    bottom: 92%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    opacity: 0 !important;
    visibility: hidden;
}

.cdx-tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 1px 10px;
    border-radius: 10px;
    white-space: nowrap;
    opacity: 0 !important;
    visibility: hidden;
}

.cdx-tooltip:hover::after,
.cdx-tooltip:hover::before {
    opacity: 1 !important;
    visibility: visible;
}

@media (max-width: 767px) {
    .ce-inline-toolbar.ce-inline-toolbar--showed {
        position: fixed !important;
        top: 50% !important;
        left: 26% !important;
        transform: translate(-50%, -50%) !important;
        height: -moz-fit-content !important;
        height: fit-content !important;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        scale: 0.72 !important;
    }
}
